.Rproj.user
.Rhistory
.RData
.Ruserdata
loom1000/kd_looms_1000.trees
kd_looms_4100.trees
output/by_level/loom1000/kd_looms_1000.trees
output/by_level/loom4100/kd_looms_4100.trees
/Users/kopp/Documents/kd_looms/output/by_level/loom1000/kd_loom1000.trees
/Users/kopp/Documents/kd_looms/output/by_level/loom1111/kd_loom1111.trees
/Users/kopp/Documents/kd_looms/output/by_level/loom8421/kd_loom8421.trees
.trees